
examples/.DS_Store
examples/sliding_window.jpg
examples/sliding_windows.jpg
test_images/test6.jpg
test_images/test4.jpg
test_images/test5.jpg
test_images/test3.jpg
test_images/test2.jpg
test_images/test1.jpg
examples/output_bboxes.png
examples/labels_map.png
examples/HOG_example.jpg
examples/car_not_car.png
examples/bboxes_and_heat.png
output_images/.DS_Store
output_images/save_output_here.txt
project_video.mp4
test_images/.DS_Store
test_video.mp4
writeup_template.md
