examples/*
output_images/.DS_Store
output_images/save_output_here.txt
project_video.mp4
test_images/.DS_Store
test_video.mp4
writeup_template.md
training_dataset/*
__pycache__/helper_functions.cpython-35.pyc
.ipynb_checkpoints/Vehicle_Detection-checkpoint.ipynb
Vehicle_Detection.md
Vehicle_Detection.zip
ref_vehicle_detection_project.html
ref_lesson_functions.py
ref_vehicle_detection_project.ipynb
dict_vehicle_detection.p
